<div style="display: flex; justify-content: center;">
    <mat-card style="width: 40%; margin-top: 100px;">
        <mat-card-title>Create a Match</mat-card-title>
        <mat-card-subtitle>Select Runners</mat-card-subtitle>
        <mat-form-field appearance="fill">
            <mat-label>Runners</mat-label>
            <mat-select [formControl]="selectedParticipants" multiple>
              <mat-option *ngFor="let participant of participantList" [value]="participant.displayName">{{ participant.displayName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <span><strong>Selected Runners: </strong>{{ selectedParticipants.value }}</span>
        <mat-card-subtitle style="margin-top: 10px;">Select a Date and Time</mat-card-subtitle>
        <span><strong>ALL TIMES IN UTC</strong></span><br><br>
        <div style="display: flex; justify-content: left;">
            <mat-form-field appearance="fill" style="margin-right: 20px;">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [readonly]="true" [formControl]="selectedDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Time</mat-label>
                <mat-select [formControl]="selectedTime">
                <mat-option *ngFor="let timeSlot of availableTimes" [value]="timeSlot.value">{{ timeSlot.time }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-card-actions align="end">
            <button mat-button routerLink="">Back</button>
            <button mat-button (click)="addMatch()" [disabled]="selectedParticipants.value.length != 2 || selectedTime.value.length == 0 || selectedDate.status == 'INVALID'">Create</button>
        </mat-card-actions>
    </mat-card>
</div>