<mat-card>
  <mat-card-title>Verify Your Email</mat-card-title>
  <mat-card-content>
    <form>
      <p class="text-center">Please verify your email before logging in.</p>
      <p class="text-center">Didn't receive an email?  Hit the button below.</p>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="button">
        <input type="submit" class="btn btnPrimary" value="Resend Verification Email" (click)="authService.SendVerificationMail()">
      </div>
      <div class="redirectToLogin">
        <span>Go back to <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
    </form>
  </mat-card-content>
</mat-card>