.nav {
    width: 100%;
    height: auto;
    border-bottom: 2.5px solid purple;
    background: black;
    color: rgb(207, 48, 207);
    display: flex;
    align-items: center;
}

.discordBtn {
    max-height: 80px;
    max-width: 80px;
    z-index: 100;
    width: 6vw;
    height: auto;
}

.tabs {
    background: none;
    display: flex;
    justify-content: right;
    margin-right: auto;
    width: 50%;
}

.tabs > button {
    color: rgb(207, 48, 207);
    margin-right: 15px;
    font-size: 2.3vh;
}

.purple {
    background-color: rgba(255, 0, 212, 0.192) !important;
    text-align: center !important;
    height: 100%;
}

.nothing {
    background-color: none !important;
}

.title {
    font-size: 2.8vw;
    margin-right: 2vh;
    cursor: pointer;
}

.toggleTabs {
    background: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.toggleTabs > button {
    color: rgb(207, 48, 207);
    font-size: 2.3vh;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background: rgb(207, 48, 207);
    margin: 3px;
    position: relative;
}

.purpleTab {
    border-bottom: 2px solid rgb(207, 48, 207);
}

.none {
    border-bottom: none;
}

@media only screen and (max-width: 920px) {
    .title {
        font-size: 4.5vw;
    }
}