<div class="example-action-buttons" style="margin-left: 20px; color: white;">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <div *ngFor="let source of dataSource" style=" display: flex; justify-content: left;">
        <mat-expansion-panel style="width: 60%; margin-left: 20px; margin-bottom: 20px;" [ngStyle]="{'background-color': source.locked ? '#46b52a' : '#7a7a7a'}">
            <mat-expansion-panel-header [collapsedHeight]="'130px'" [expandedHeight]="'130px'">
                <div class="panelContainer">
                    <div class="panelBox">
                        <span><strong>Runners</strong></span><br>
                        <span>{{ source.runners }}</span><br *ngIf="source.runners.length > 0">
                    </div>
                    <div class="panelBox">
                        <span><strong>Comms</strong></span><br>
                        <span *ngIf="adminInfo != null && !(adminInfo.admin || adminInfo.superadmin) || source.locked">{{ source.comms }}</span><br *ngIf="source.comms.length > 0 && adminInfo != null && !(adminInfo.admin || adminInfo.superadmin)">
                        <div style="font-size: 13px;">
                            <mat-form-field appearance="fill" *ngIf="adminInfo != null && (adminInfo.admin || adminInfo.superadmin) && !source.locked && source.adminComms.length > 0">
                                <mat-label>Comms</mat-label>
                                <mat-select [formControl]="source.commsForm" multiple>
                                    <mat-option *ngFor="let comm of source.adminComms" [value]="comm.id" selected>{{ comm.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" *ngIf="!source.locked">Sign Up</button>
                    </div>
                    <div class="panelBox">
                        <span><strong>Restreamer</strong></span><br>
                        <span *ngIf="adminInfo != null && !(adminInfo.admin || adminInfo.superadmin) || source.locked">{{ source.restreamer }}</span><br *ngIf="source.restreamer.length > 0 && adminInfo != null && !(adminInfo.admin || adminInfo.superadmin)">
                        <div style="font-size: 13px;">
                            <mat-form-field appearance="fill" *ngIf="adminInfo != null && (adminInfo.admin || adminInfo.superadmin) && !source.locked && source.adminRestreamer.length > 0">
                                <mat-label>Restreamer</mat-label>
                                <mat-select [formControl]="source.restreamerForm" multiple>
                                    <mat-option *ngFor="let restreamer of source.adminRestreamer" [value]="restreamer.id" selected>{{ restreamer.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" *ngIf="!source.locked">Sign Up</button>
                    </div>
                    <div class="panelBox">
                        <span><strong>Date</strong></span><br>
                        <span>{{ source.date }}</span>
                    </div>
                    <div class="panelBox">
                        <span><strong>Confirmed</strong></span><br>
                        <span>{{ source.locked ? 'Yes' : 'No' }}</span>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <div class="panelContainer">
                <div class="panelBox" style="text-align: left;">
                    <span *ngFor="let runner of source.participantInfo" style="display: block; margin-bottom: 4px;">{{ runner }}</span><br>
                </div>
                <div class="panelBox" style="text-align: left;">
                    <span *ngFor="let command of source.commands" style="display: block; margin-bottom: 4px;">{{ command }}</span><br>
                </div>
            </div>
        </mat-expansion-panel>
        <button (click)="toggleConfirm(source)" style="margin-top: 10px; height: 50%; margin-top: 32px; margin-left: 15px;" mat-raised-button color="success" *ngIf="adminInfo != null && (adminInfo.admin || adminInfo.superadmin)">{{ source.locked ? 'Unconfirm Match' : 'Confirm Match' }}</button>
        <button (click)="deleteMatch(source.matchId)" style="margin-top: 10px; height: 50%; margin-top: 32px; margin-left: 15px;" mat-raised-button color="warn" *ngIf="adminInfo != null && (adminInfo.admin || adminInfo.superadmin)" [disabled]="source.locked">Delete Match</button>
        <button (click)="resetMatch(source.matchId)" style="margin-top: 10px; height: 50%; margin-top: 32px; margin-left: 15px;" mat-raised-button color="primary" *ngIf="adminInfo != null && (adminInfo.admin || adminInfo.superadmin)" [disabled]="source.locked">Undo Changes</button>
    </div>
  </mat-accordion>