<div *ngIf="matchFilter == ''" style="margin: auto; color: white; width: 80%; text-align: center;">
    <h1 style="font-size: 6vh;"><strong>Matches</strong></h1>
</div>
<div *ngIf="matchFilter == ''" class="viewBtnContainer" style="margin-bottom: 15px;">
    <mat-button-toggle-group class="btnGroupContainer" name="fontStyle" aria-label="Font Style" [formControl]="selectedView">
        <mat-button-toggle value="list">List View</mat-button-toggle>
        <mat-button-toggle value="calendar">Calendar View</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div *ngIf="matchFilter == ''" class="viewBtnContainer">
    <div style="color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 18px;">
        <p>Tournament Select:</p>
        <div style="display: flex; justify-content: center; flex-wrap: wrap;">
            <mat-checkbox *ngFor="let item of tournaments" (change)="updateSelectedTournaments($event)" [value]='item.uid' [checked]="true">{{ item.name }}</mat-checkbox>
        </div>
    </div>
</div>
<div *ngIf="matchFilter == ''" style="width: 90%; margin: auto;">
    <button routerLink="/create-match" style="background-color: white; margin-bottom: 10px;" mat-button color="basic">Create a Match</button>
</div>
<div *ngIf="selectedView.value == 'list' && matchFilter == ''" class="example-action-buttons" style="width: 90%; margin: auto;">
    <button style="color: white;"mat-button (click)="toggleExpand(true)">Expand All</button>
    <button style="color: white;" mat-button (click)="toggleExpand(false)">Collapse All</button>
</div>
<div *ngIf="selectedView.value == 'list'" style="padding-bottom: 70px;">
    <div *ngFor="let source of dataSource">
        <div *ngIf="(selectedTournaments.includes(source.tournament) && matchFilter == '') || (source.matchId == matchFilter)" class="bigContainer" [ngStyle]="{'background-color': source.locked ? '#458d3345' : 'none'}">
            <div style="display: flex;">
                <div class="matchTable" style="padding-bottom: 25px; width: 95%;">
                    <div class="info">
                        <div class="matchContainer">
                            <div>
                                <h3>Runners</h3>
                            </div>
                            <div>
                                <span>{{ source.runners }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="matchContainer">
                            <div>
                                <h3>Comms</h3>
                            </div>
                            <div>
                                <span *ngIf="adminInfo != null && !adminTournaments.includes(source.tournament) || source.locked">{{ source.comms }}</span>
                                <mat-form-field appearance="fill" *ngIf="adminInfo != null && adminTournaments.includes(source.tournament) && !source.locked && source.adminComms.length > 0">
                                    <mat-label>Comms</mat-label>
                                    <mat-select [formControl]="source.commsForm" multiple>
                                        <mat-option *ngFor="let comm of source.adminComms" [value]="comm.id" selected>{{ comm.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <br *ngIf="source.comms.length > 0 && adminInfo != null && !adminTournaments.includes(source.tournament)">
                            <div>
                                <button mat-raised-button color="primary" *ngIf="!source.locked" (click)="toggleSignUp('comms', source)">{{ this.adminInfo != null && !source.commsForm.value.includes(this.adminInfo.uid) ? 'Sign Up' : 'Cancel' }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="matchContainer">
                            <div>
                                <h3>Restreamer</h3>
                            </div>
                            <div>
                                <span *ngIf="adminInfo != null && !adminTournaments.includes(source.tournament) || source.locked">{{ source.restreamer }}</span>
                                <mat-form-field appearance="fill" *ngIf="adminInfo != null && adminTournaments.includes(source.tournament) && !source.locked && source.adminRestreamer.length > 0">
                                    <mat-label>Restreamer</mat-label>
                                    <mat-select [formControl]="source.restreamerForm" multiple>
                                        <mat-option *ngFor="let restreamer of source.adminRestreamer" [value]="restreamer.id" selected>{{ restreamer.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <br *ngIf="source.restreamer.length > 0 && adminInfo != null && !adminTournaments.includes(source.tournament)">
                            <div>
                                <button mat-raised-button color="primary" *ngIf="!source.locked" (click)="toggleSignUp('restreamer', source)">{{ this.adminInfo != null && !source.restreamerForm.value.includes(this.adminInfo.uid) ? 'Sign Up' : 'Cancel' }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="matchContainer">
                            <div>
                                <h3>Date</h3>
                            </div>
                            <div>
                                <span>{{ source.date }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="matchContainer">
                            <div>
                                <h3>Confirmed?</h3>
                            </div>
                            <div>
                                <span>{{ source.locked ? 'Yes' : 'No' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <button class="expandButton" mat-raised-button style="background-color: #01dde585; border: 2px solid white;" (click)="toggleOpen(source)" type="button"><i><fa-icon [@toggle]="!source.open ? 'closed' : 'open'" [icon]="faChevronDown" style="display: inline-block;"></fa-icon></i></button>
                </div>
            </div>
            <div *ngIf="source.open">
                <mat-divider style="width: 90%; margin: auto; border-top-color: rgb(207, 48, 207);"></mat-divider>
                <div class="matchTable" style="padding-top: 25px;">
                    <div class="info2">
                        <span *ngFor="let runner of source.participantInfo" style="display: block; margin-bottom: 4px;">{{ runner }}</span><br>
                    </div>
                    <div class="info2">
                        <span *ngFor="let command of source.commands" style="display: block; margin-bottom: 4px;">{{ command }}</span><br>
                        <span style="display: block; margin-bottom: 4px;">Discord Timestamp: {{ source.timestamp }}</span><br>
                        <span style="display: block; margin-bottom: 4px;">Match Created On: {{ source.createdOn }}</span><br>
                    </div>
                </div>
                <div class="matchTable" *ngIf="adminInfo != null && adminTournaments.includes(source.tournament) && selectedTournaments.includes(source.tournament)" style="justify-content: center;">
                    <span style="font-size: 18px; margin-right: 15px; margin-top: 8px;"><strong>Stream Title: </strong></span>
                    <input type="text" class="login__input" [formControl]="source.matchTitle">
                    <button (click)="saveMatchTitle(source)" mat-raised-button color="success" style="margin-left: 10px; background-color: #155724;">Save</button>
                </div>
                <div class="matchTable" style="padding-top: 25px;">
                    <button (click)="toggleConfirm(source)" mat-raised-button color="success" style="background-color: #155724;" *ngIf="adminInfo != null && adminTournaments.includes(source.tournament) && selectedTournaments.includes(source.tournament)">{{ source.locked ? 'Unconfirm Match' : 'Confirm Match' }}</button>
                    <button (click)="deleteMatch(source)" mat-raised-button color="warn" *ngIf="adminInfo != null && ((adminTournaments.includes(source.tournament) && selectedTournaments.includes(source.tournament)) || source.runnerIds.includes(adminInfo.uid))" [disabled]="source.locked">Delete Match</button>
                    <button (click)="resetMatch(source)" mat-raised-button color="primary" *ngIf="adminInfo != null && adminTournaments.includes(source.tournament) && selectedTournaments.includes(source.tournament)" [disabled]="source.locked">Undo Changes</button>
                    <button (click)="toggleHKC(source)" mat-raised-button [color]="source.onHKC ? 'success' : 'warn'" *ngIf="adminInfo != null && adminTournaments.includes(source.tournament) && selectedTournaments.includes(source.tournament)">{{ source.onHKC ? 'On Calendar' : 'Not on Calendar'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="selectedView.value == 'calendar'" style="width: 90%; margin: auto; padding-bottom: 60px;">
    <calendar [events]="dataSource" (updateMatch)="updateMatch($event)"></calendar>
</div>