.tournament-btn {
    width: 300px;
    height: 100px;
    font-size: 21px;
    margin-bottom: 40px;
}

.sign-up-btn {
    width: 90px;
    height: 45px;
    display: inline-block;
    margin-left: 30px;
}