<div style="margin: auto; color: white; width: 80%;">
    <h1 style="font-size: 6vh;"><strong>Events</strong></h1>
</div>
<mat-divider style="width: 80%; margin: auto; border-top-color: rgb(207, 48, 207);"></mat-divider>
<div class="eventTable">
    <div style="margin: auto; width: 33%;">
        <h3>Event Name</h3>
    </div>
    <div style="margin: auto; width: 33%;">
        <h3>Details</h3>
    </div>
    <div style="margin: auto; width: 33%;">
        <h3>Signup Deadline</h3>
    </div>
    <div style="margin: auto; width: 33%;">
        <h3>Signed Up?</h3>
    </div>
</div>
<div *ngFor="let tournament of tournaments" class="eventTable">
    <div style="margin: auto; margin-top: 0; width: 33%;">
        <div class="eventContainer">
            <div>
                <span>{{ tournament.name }}</span>
            </div>
        </div>
    </div>
    <div style="margin: auto; margin-top: 0; width: 33%;">
        <div class="eventContainer">
            <div>
                <span>{{ tournament.description }}</span>
            </div>
        </div>
    </div>
    <div style="margin: auto; margin-top: 0; width: 33%;">
        <div class="eventContainer">
            <div>
                <span>{{ tournament.deadline.toDate() }}</span>
            </div>
        </div>
    </div>
    <div style="margin: auto; margin-top: 0; width: 33%;">
        <div class="eventContainer">
            <div>
                <button *ngIf="!isParticipant(tournament, adminInfo.uid)" [disabled]="passedDeadline(tournament.deadline.toDate())" class="sign-up-btn" mat-raised-button color="success" (click)="addToTournament(tournament)">Sign Up</button>
                <button *ngIf="isParticipant(tournament, adminInfo.uid)" class="sign-up-btn" mat-raised-button color="success"><fa-icon [icon]="faCheck"></fa-icon></button>
            </div>
        </div>
    </div>
</div>
