.container {
    display: flex;
    justify-content: center;
    background-color: #a71515;
    flex-flow: column;
    padding: 20px;
    padding-top: 0px;
}

.matchTable {
    display: flex;
    justify-content: space-evenly;
    color: rgb(238, 238, 238);
    text-align: center;
    flex-wrap: wrap;
}

.mat-success {
    background-color: #155724 !important;
}