/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { background-color: #2f3136; height: 100%; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

.mat-button.mat-purple,
.mat-stroked-button.mat-purple {
    color: #5f135b;
}
.mat-button.mat-purple:hover,
.mat-stroked-button.mat-purple:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-purple,
.mat-flat-button.mat-purple,
.mat-fab.mat-purple,
.mat-mini-fab.mat-purple {
  color: #f0fff3;
  background-color: #5f135b;
}

.mat-icon-button.mat-purple {
  color:#5f135b;
}


.mat-button.mat-pink,
.mat-stroked-button.mat-pink {
    color: #ad0ba5;
}
.mat-button.mat-pink:hover,
.mat-stroked-button.mat-pink:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-pink,
.mat-flat-button.mat-pink,
.mat-fab.mat-pink,
.mat-mini-fab.mat-pink {
  color: #f0fff3;
  background-color: #ad0ba5;
}

.mat-icon-button.mat-pink {
  color:#ad0ba5;
}
